<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <title>{{title}}</title>
        <style>
            body {
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <h1>hicetnunc.xyz status</h1>
        <p>site: {{site.emoji}} {{site.status}} {{site.statusText}}</p>
        <p>feed: {{feed.emoji}} {{feed.status}} {{feed.statusText}}</p>
        <p><a href="https://github.com/fraguada/hicetnuncstatus">source</a></a></p>
    </body>
</html>